<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Join Us</title>
</head>
<body>
  <h1>Joins Us</h1>
  <p>Are you a TRUE member? Activate your membership introducing here the SUPERDUPER secret code only our members know!</p>
  <form action="/join" method="POST">
    <label for="code">Secret Code: </label>
    <input id="code" name="code" placeholder="secret code" type="text" /><br/>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
