<!DOCTYPE html>
<title><%= title%></title>
<body>
    <h2>Post a message!</h2>
    <form method="POST" action="/new">
        <label for="user">Username:</label>
        <input type="text" id="user" name="messageUser"><br>
        <label for="text">Your message:</label>
        <input type="text" id="text" name="messageText"><br>
        <input type="submit" value="Send my message!">
    </form>
</body>
</html> 