<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title>Genres Inventory</title>
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<body>
    <%- include('sidebar') %>
    <div style="margin-right:15%">
        <div class="w3-container w3-teal">
                <h1>Genres</h1>     
        </div></br>
        <div class="w3-container">
            <% if ( locals.genres ) {%>
            <table>
                <caption><h2>Genres</h2></caption>
                <tr>
                    <th>Genre name</th>
                </tr>
                <% genres.forEach(genre => { %>
                <tr>
                    <td><%= genre.genre %></td>
                </tr>
                <%}); %>
            </table>
            <div>
                <button onclick="location.href='/new/genre'" class="button-class">Create a new genre</button>
                <button onclick="location.href='/genres'" class="button-class">List all genres</button>
                <button onclick="location.href='/search/bygenre'" class="button-class">Search by genre</button>
            </div>
            </table>
        </div>
            <%} else if ( locals.error ) { %>
            <h4>There was an error: <%= error %></h4>
            <div><button onclick="history.back()" class="button-class">Go Back</button></div>
            <%} else {%>
            <h4>There are no genres defined.</h4>
            <div><button onclick="location.href='/new/genre'" class="button-class">Create a new genre</button></div>
            <%}; %>
    </div>
</body>
</html>