<div class="w3-sidebar w3-bar-block w3-top" style="width:15%;right:0">
  <h3 class="w3-bar-item">Navigation</h3>
  <a href="/" class="w3-bar-item w3-button">Home</a></br>
  <a href="#" onclick="history.back()" class="w3-bar-item w3-button">Back</a></br>
  <a href="/authors" class="w3-bar-item w3-button">List authors</a></br>
  <a href="/genres" class="w3-bar-item w3-button">List genres</a></br>
  <a href="/search/byauthor" class="w3-bar-item w3-button">Search by author</a></br>
  <a href="/search/bygenre" class="w3-bar-item w3-button">Search by genre</a></br>
  <a href="/search/bytitle" class="w3-bar-item w3-button">Search by title</a>
</div>