 <footer>
  <p>Sergio Fernandez - <%= new Date().toISOString().split('T')[0] %> - <%= new Date().toISOString().split('T')[1].split('.')[0] %> </p>
  <p>See me at <a href="https://sergio.fernandezcordero.net">my web</a></p>
</footer>
